* {
    margin: 0;
    padding: 0; 
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
    color: #191F28;
   
    
}
body {
    background-color: #F0F2F5;
}
/* BARRA DE NAVEGACAO COM LOGO, SEARCH BOX, LIST E PROFILE */

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #0B63CE;
    height: 61px;
    color: #F0F2F5;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.24px;
    margin: 0 auto;
    
}

.logo {
    /* LOGO DA LIFERAY */
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    background: url(liferayLogo.png), #F0F2F5 50% / cover no-repeat;
    border-radius: 45px;
    width: 45px;
    height: 43.875px;
    flex-shrink: 0;
}

/* INICIO DA SEARCH BOX - caixa de pesquisa */

.search-box {
    /* SEARCH BOX EM SI */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 431px;
    height: 41px;
    border-radius: 10px;
    background: #fff;
    margin-right: 17%;
    
}

.search-btn {
    /* BOTAO ( LUPA ) DA SEARCH BOX */
    margin-left: 15px;
    border:none;
    border-radius:0 7px 7px 0;
    width: 15.311px;
    height: 15.311px;
    flex-shrink: 0;
    font-weight:bold;
    cursor: pointer;
    background: #fff;
}

.search-text {
    /* CAIXA DE TEXTO DA SEARCH BOX */
    border: none;
    outline: none;
    width: 350px;
    margin-left: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.265px; 
    background: #fff;

}

.search-arrow {
    /* SETA DE EXPANSAO DA SEARCH BOX */
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    cursor: pointer;
    background: #fff;
}

/* FIM DA SEARCH BOX */

ul {
    display: flex;
    align-items: flex-end;
    gap: 30px;
    
}


a {
    color: #F0F2F5;
}

.create-event{
    margin-left: 45px;
}

#minhaImagem{
    cursor: pointer;
}


/* MENU SUSPENSO*/

#menuSuspenso {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 150px;
    border: none;
    right: 0; 
    left: auto;
    top: 61px; 
}



.menuItem {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 12px;
    cursor: pointer;
}

.menuItem img {
    max-width: 20px; 
    max-height: 20px; 
    margin-right: 10px; 
}

/* BUTTON DO MENU SUSPENSO */

button[name="Logout"] {
    border-radius: 10px;
    border: 2px solid #0B63CE;
    background: #FFF;
    cursor: pointer;
    width: 75px;
    height: 25px;
    flex-shrink: 0;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* ESTILO HOVER AO PASSAR O MOUSE */
button[name="Logout"]:hover {
    background-color: #0B63CE;
}

/* PRINCIAIS TEMAS E PRPOXIMOS EVENTOS*/
h1{
    padding-top: 2rem;
    color: #191F28;
    font-family:'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 199px;

}

/* TEMAS */

.temas{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    margin-left: 16rem;
    margin-right: 20rem;
}

.tema-box{
    padding-top: 1rem;
    
}

.tema-img{
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem;
}

.tema-img img {
    max-width: 105px;
    max-height: 105px;
    object-fit: cover;
    cursor: pointer;
}

.tema-text{
    text-align: center;
    color: #4C576C;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;
    cursor: pointer;
}

/* EVENTOS */

.eventos{
    display: grid;
    padding-left: 3%;
    padding-top: 2rem;
    grid-gap: 1rem;
    row-gap: 2rem;
    grid-template-columns: repeat(4, 20%);
    justify-content: center;
}

.eventos-box{
    padding-bottom: 0.8rem;
    background-color: #ffffff;
    border-radius: 25px;
    cursor: pointer;
}

.eventos-box-img img {
 width: 100%;
}

.data {
    color: #0B63CE;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.24px;
    text-align: center;
}

.apresentacao {
    color: #191F28;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;
    padding-top: 2px;
    text-align: center ;
}

.palestrante {
    color: #4C576C;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.24px;
    text-align:center;
    margin-top: 1rem;
}
