* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #0B63CE;
    height: 61px;
    color: #F0F2F5;
    font-family:'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.24px;
}

.nav-list {
    list-style: none;
    display: flex;
    background: #0B63CE;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}
.logo img {
    width: 45px;
    height: 43.875px;
    flex-shrink: 0;
    border-radius: 45px;
    background: url(liferayLogo.png), #F0F2F5 50% / cover no-repeat;
    
}
.search-box {
    width: 431px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-btn {
    margin-left: 15px;
    border:none;
    border-radius:0 7px 7px 0;
    width: 15.311px;
    height: 15.311px;
    flex-shrink: 0;
    font-weight:bold;
    cursor: pointer;
    background: #fff;
}
.search-text {
    border: none;
    outline: none;
    width: 350px;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.265px; 
    background: #fff;

}

.search-arrow {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    cursor: pointer;
    background: #fff;;
}

a {
    color: #fff;
    background: #0B63CE;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

h1 {
    margin-top: 100px;
    margin-left: 50px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    font-size: 30px;
  }


  .centralizar-tabela {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    
    
}

table#Tabela {
    border-collapse: collapse;
    width: 90%; 
}

table#Tabela th, table#Tabela td {
    border-top: 1px solid #c7c3c3;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    padding: 25px;
    text-align: center;
}

table#Tabela tr.principal {
    background-color: #f6f5f5c0;
}

table#Tabela tr:hover {
    background-color: #f5f5f5;
}

table#Tabela th {
    width: 40%;
}

