* {
    margin: 0;
    padding: 0;
    background-color: #F6F7F9;
    
}

body {
    width: 100%;
    
}

.geral {
    display: flex;
    flex-direction: column;
}

/*Nav Bar*/
.logo img {
    width: 45px;
    height: 43.875px;
    flex-shrink: 0;
    border-radius: 45px;
    background: url(liferayLogo.png), #F0F2F5 50% / cover no-repeat;
    
}

.profile {
    background: #0B63CE;
}

.search-box {
    width: 431px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-btn {
    margin-left: 15px;
    border:none;
    border-radius:0 7px 7px 0;
    width: 15.311px;
    height: 15.311px;
    flex-shrink: 0;
    font-weight:bold;
    cursor: pointer;
    background: #fff;
}

.search-text {
    border: none;
    outline: none;
    width: 350px;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.265px; 
    background: #fff;

}

.search-arrow {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    cursor: pointer;
    background: #fff;
}

a {
    color: #fff;
    background: #0B63CE;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #0B63CE;
    height: 61px;
    color: #F0F2F5;
    font-family:'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.24px;
}

.nav-list {
    list-style: none;
    display: flex;
    background: #0B63CE;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

/*Criação de Eventos - Editar Imagem*/
.create-events{
    color: #191F28;
    font-family:'Inter', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.4px;
    margin-top: 59px;
    margin-left: 199px;
}

.wh-100 {
    width: 100%;
    height: 100%;
}

.new-event {
    margin-top: 40px;
    margin-left: 115px;
}


#form-form{
    /*& .image-upload{
        box-sizing: border-box;
        width: 339px;
        height: 194.436px;
        flex-shrink: 0;
        border-radius: 15.151px;
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
        box-shadow: 0px 7.57542px 7.57542px 0px rgba(0, 0, 0, 0.25);
    }*/

    & .image-upload img{
        object-fit: cover;
        box-sizing: border-box;
        width: 339px;
        height: 194.436px;
        flex-shrink: 0;
        border-radius: 15.151px;
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
        box-shadow: 0px 7.57542px 7.57542px 0px rgba(0, 0, 0, 0.25);
        
    }

    /*Botão*/
    & #image-field{
        position:absolute;
        display: none;
        margin: 0 auto;
        cursor: pointer;
        width: 339px;
        height: 194.436px;
        opacity: 0;
    }
}


.alter-label {
    width: 130px;
    height: 18px;
    flex-shrink: 0;
    margin-left: 110px;
    color: #0B63CE;
    font-family: Inter;
    font-size: 15.051px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.301px;
    cursor: pointer;
    text-decoration: underline;
}

/*Criação de Eventos - Áreas de Texto*/
.text-event{
    margin-top: 40px;
    margin-left: 150px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.subtitle{
    width: 287px;
    margin-top: 59px;
    margin-left: -15px;
    text-align: left;
    color: var(--Gray-3, #828282);
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.event-name{
    color: #191F28;
    font-size: 18px; 
    letter-spacing: 0.36px;
    height: 50px;
    
}

.event-description{
    color: #50525F;
    font-size: 14px;
    letter-spacing: 0.28px;
    height: 110px;
}

.event-name, .event-description {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    box-sizing: border-box;
    display: flex;
    width: 427px;
    padding: 15px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    outline: none;
    border: none;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/*Calendário*/
.conteudo{
    left: 50%;
    /*margin: 0 0 0 -500px;*/
    position: absolute;
    width: 500px;
    margin-top: 59px;
    margin-left: 199px;
    
}

.calendario{
    text-align: center;
    background-color: #FFFFFF;
}

.conteudo .calendario header {
    position: relative;
}

h2{
    margin-top: 20px;
    font-size: 32px;
    text-transform: uppercase;
}

.btn-ant,.btn-pro{
    position: absolute;
    top: 50%;
    height: 32px;
    width: 32px;
    line-height: 32px;
    margin-top: -16px;
    border: 2px solid #cbd1d2;
    border-radius: 50%;
    color: #cbd1d2;
    font-size: 16px;
    font-weight: bold;

}

.btn-ant{
    left: 80px;
}

.btn-pro{
    right: 80px;
}

.btn-ant:hover,.btn-pro:hover{
    background: #cbd1d2;
    color: #f9f9f9;
}

.calendario table{
    margin-top: 20px;
    border-collapse: collapse;
}

.calendario thead{
    background: white;
    font-weight: 600;
    text-transform: uppercase;
}

.calendario td{
    border: 1px solid #cbd1d2;
    height: 71.4px;
    text-align: center;
    width: 71.4px;
}

.calendario tbody td{
    cursor: pointer;
}

.calendario tbody td:hover{
    background: rgba(0,173,223,0.8);
    color: #f9f9f9;
}

.calendario table .dia-atual{
    background: #00addf;
    color: #f9f9f9;
}

.calendario .mes-anterior, .calendario .proximo-mes{
    color: #cbd1d2;
}

.calendario .mes-anterior:hover, .calendario .proximo-mes:hover{
    background: #98a0a0;
}

.event{
    position: relative;
}

.event:after{
    content: '';
    width: 7px;
    height: 7px;
    left: 50%;
    bottom: 7px;
    margin: -3.5px 0 0 -3.5px;
    background: #00addf;
    display: block;
    position: absolute;
    border-radius: 50%;
}

.event:hover::after{
    background: #f9f9f9;
}

.event.dia-atual:after{
    background: #f9f9f9;
}